* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 350px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .items{
    background-color:lightgray;
    margin: 15px;
    margin-left: 5px;
    height:40px;
    border-radius: 5px;
    padding: 20px;
  }